* {
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#header {
  height: 50px;
  width: 100%;
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo,
#navbar,
#account {
  display: inline-block;
}
#navbar a,
#account a {
  text-decoration: none;
  font-size: large;
  margin: 0 10px;
}
#navbar a {
  color: lime;
  font-weight: bold;
}
#account a {
  border: 2px solid green;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
#logo img {
  width: 50px;
  height: auto;
}
#navbar {
  color: lime;
}
#account {
  text-decoration: none;
}

.content {
  flex: 1;
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-center {
  flex: 1;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px solid gray;
}
.content-center form {
  background-color: burlywood;
  padding: 30px;
  border-radius: 15px;
}
.content-center form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.content-center form input[type="submit"] {
  width: 50%;
  margin: 5px auto;
  display: block;

}

#footer {
  height: 40px;
  width: 100%;
  background-color: rgb(223, 212, 175);
  text-align: center;
  line-height: 40px;
}
